.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.55vw;
  color: var(--text-secondary);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-small2);
}

.pageControls {
  display: flex;
  align-items: center;
  gap: 0.35vw;

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 0.25vw;
    border: 0.01vw solid var(--border-subtle);
    background: var(--bg-panel-raised);
    padding: 0;
    font-size: 0.55vw;
    color: var(--text-secondary);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-small2);
    cursor: pointer;

    &:disabled {
      opacity: 0.4;
      cursor: default;
    }
  }
}

.icon {
  width: 0.65vw;
  height: 0.65vw;
}

.pageActive {
  background: var(--accent-blue-another) !important;
  border-color: var(--accent-blue-another) !important;
  color: white !important;
}
